REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USER_AGENT=TrustLens/0.1 by your_reddit_username
REDDIT_COMMENT_LIMIT=20
OCR_LANGUAGES=en,ta
OCR_MODEL_DIR=data/models/easyocr
